*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    > div {
        width: 50%;
        padding: 10px;
    }
}

.wrapper-fr-view {
    > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
    }

    .fr-view {
        flex: 0 1 100%;
        padding: 70px 20px 20px 20px;
        font-size: 14px;
        line-height: 1.6;
        color: rgb(65, 65, 65);
    }
}

.wrapper-btn {
    padding: 5px;
    button {
        border-radius: 5px;
        padding: 5px;
        font-size: 18px;
    }
}

.toAnimate {
    color: transparent;
    text-decoration: none;
}

.lined {
    text-decoration: underline;
}
